*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
**/build/
/captures/
.externalNativeBuild/
.cxx/
local.properties
*.apk
*.aab
*.ap_
*.dex
.kotlin/
.navigation/
*.hprof
kotlin-js-store/
.cxx
*.keystore
!debug.keystore
/app/release/
