*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures/
.cxx/
*.apk
*.ap_
*.aab
*.jks
*.keystore
keystore.properties
signing-notes.txt
google-services.json
play-*.json
/app/release/
kotlin-js-store/
